<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raymond.mybatis.testdata.CountryMapper">
    <resultMap id="resultMap" type="com.raymond.mybatis.testdata.dao.Country">
        <id property="id" column="id"></id>
        <result property="countryName" column="country_name"/>
        <result property="countryCode" column="country_code"/>
    </resultMap>
    <select id="selectById" resultMap="resultMap">
        select * from country where id = #{id}
    </select>

    <delete id="deleteById">
        delete  from country where id = #{id}
    </delete>

    <select id="selectByName" resultMap="resultMap">
        select * from country where country_name = #{name}
    </select>

    <update id="updateNameById" >
        update country set country_name = #{name} where id = #{id}
    </update>

    <insert id="insertCountry" parameterType="com.raymond.mybatis.testdata.dao.Country" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO country (country_name, country_code)
        VALUES (#{countryName}, #{countryCode})
    </insert>

    <select id="selectByIdAndName" resultMap="resultMap">
        select * from country where id = #{id} and country_name = #{name}
    </select>

    <select id="selectByExample" resultMap="resultMap">
        select * from country where country_name = #{countryName} and country_code = #{countryCode}
    </select>

</mapper>